@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

html,
body {
  font-family: "Orbitron", sans-serif;
  height: 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 5px !important;
  background: linear-gradient(#06213c, #1e5898);
}

::-webkit-scrollbar-thumb {
  background: orange;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.disabled {
  filter: grayscale(30);
}

::placeholder {
  color: #000;
}

img {
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="password"] {
  font-family: sans-serif;
}

p {
  margin-top: unset;
  margin-bottom: unset;
}